body{
	padding:20px;
	height:100%;

}
html{
	height:100%;

}
#cont{
	height:100%;
}
#screen
{
	height:100%;
}
#Opponent{
	height:100%;
	left:0;
	padding-top:1%;
	padding-left:1%;
	overflow-x:hidden;
    border-radius: 10px;
    border:3px solid black;
}
#guessBar{
	right:0;
	border-left: 1px solid #eee;
	border-radius: 10px;
	padding:10px;
	height:100%;
	border:3px solid black;
	overflow-x: hidden;
	overflow-y: auto;
}
#board{
	height:100%;
	padding-left: 20px;
	overflow-x: hidden;
	overflow-y: auto;
}
#boards{
	height:100%;
	overflow-x: hidden;
    overflow-y: auto;
    padding-left: 10%;
}
#Opponents{
	height:100%;
	overflow-x: hidden;
    overflow-y: auto;
    padding-left:5%;
}

#header{
	height:100px;
	font-size:48px;
	text-align: center;
	border:3px solid red;
	border-radius: 10px;
}
#miniHeader{
	height:100px;
	font-size:48px;
	border:3px solid red;
	border-radius: 10px;
	text-align: center;
}
#head{
	border: 5px solid blue;
}
.miniMe{
	height:30px;
	width:12px;
	border:1px solid black;
}
.square{
	height:100px;
	width: 100px;
	border: 5px solid black;
	font-size:72px;
	text-align:center;
	vertical-align: center;
	padding:3px;
	border-radius: 10px;
}
.buttonHolder{
	height:100px;
	width: 100px;
	text-align:center;
	vertical-align: center;
}
.middle
{
	background-color: red;
}
button{
	position:relative;
	top:20px;
	margin:auto;
	opacity: 1;
}
#leader{
	border:3px solid red;
	border-radius: 10px;
	width:41.66%;
	float:right;
	height:100%;
	padding:45px;
}
#leaders{
	font-size:30px;
}
#leaderHead{
	border:3px solid red;
	border-radius: 10px;
	text-align: center;
		height:100px;
	font-size:48px;
}
#RightSide{
	height:100%;
}
#buttonBar{
	display:block;
	min-height: 300px;
	border-radius: 10px;
	border: 3px solid black;
	height:100%;
	overflow-x: hidden;
	overflow-y: auto;
}
#firsty
{
	height:50%;
}
#secondy{
	height:50%;
}